.s1 {
  font-size: 20px !important;
  color: #24292e !important;
  margin-left: 10px
}

.h-avatar {
  position: relative;
  float: left;
}

#h-avatar {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 48px;
}

.article {
  margin-bottom: 7%
}
.title{
  position: relative;
  float: left;
}